- include_stylesheet 'admin/event_calendar'
= render_region :top 

#calendars_table.outset
  %table.index
    %thead
      %tr
        - render_region :thead do |thead|
          - thead.name_header do
            %th Name

          - thead.url_header do
            %th URL (category/slug)

          - thead.refresh_header do
            %th Last Refresh
            %th Refresh automatically?

          - thead.action_header do
            %th 
    %tbody
      - @calendars.each do |calendar|
        %tr{:class => "node level-1"}

          - render_region :tbody do |tbody|
            - tbody.name_cell do          
              %td.subscription-title
                = link_to image('calendar', :alt => ''), admin_calendar_url(calendar)
                = link_to calendar.name, admin_calendar_url(calendar)
                = "(#{calendar.events.count || '0'} events)"

            - tbody.url_cell do
              %td.url
                =h calendar.category.to_s.downcase 
                \/
                =h calendar.slug.downcase

            - tbody.refresh_cell do
              %td.refreshed
                - if calendar.ical
                  =h calendar.ical.last_refresh_date.strftime("%m/%d at %H:%M") unless calendar.ical.last_refresh_date.blank?
                - else
                  n/a
              %td.autorefresh
                - if calendar.ical
                  = calendar.ical.refresh_automatically? ? "yes" : "no"
                - else
                  n/a
            - tbody.action_cell do
              %td
                = render :partial => 'actions', :locals => {:calendar => calendar}

- render_region :bottom do |bottom|
  - bottom.buttons do
    #actions
      = will_paginate @calendars
      %ul
        %li= link_to image('plus') + " " + "new calendar", new_admin_calendar_url
