- include_stylesheet 'admin/calendar'

%h1
  = @calendar.name
  calendar
  = render :partial => 'actions'

%div#calendar_help
  %h3
    t('calendar_admin.show.subscribe')subscribe to this calendar
  %ul
    %li
      %strong
        t('calendar_admin.show.address'):
      = link_to @calendar.ical.url
    %li
      %strong
        t('calendar_admin.show.username'):
      = link_to @calendar.ical.username
    %li
      %strong
        t('calendar_admin.show.password'):
      = link_to @calendar.ical.password
  %p
    t('calendar.show.detail_text')

%table#events.index{:cellspacing=>"0", :border=>"0", :cellpadding=>"0"}
  = render :partial => 'events/list_head'
  %tbody
    - if @calendar.events.any?
      - @calendar.events.each do |event|
        = render :partial => 'event', :object => event
    - else
      %tr
        %td.note{:colspan => admin.event.index.tbody.length} 
          t('calendar_admin.show.no_events')
