- @page_title = t('event_venues_admin.index.title')
- @page_title += ' - ' + t('event_venues_admin.defaults.title') + ' - ' + default_page_title

- include_stylesheet "admin/event_calendar"

#event_venues_table.outset      
  %table#event_venues.index{:cellspacing=>"0", :border=>"0", :cellpadding=>"0"}
    %thead
      %tr
        - render_region :thead do |thead|
          - thead.title_header do
            %th.event 
              %strong
                = t('event_venues_admin.index.place')
          - thead.location_header do
            %th.location= t('event_venues_admin.index.address')
          - thead.url_header do
            %th.keywords= t('event_venues_admin.index.website')
          - thead.modify_header do
            %th.modify= t('event_venues_admin.index.modify')
    %tbody
      - if @event_venues.any?
        - @event_venues.each do |event_venue|
          = render :partial => 'event_venue', :object => event_venue
      - else
        %tr
          %td.note{:colspan => admin.event_venue.index.tbody.length} 
            = t('event_venues_admin.index.no_places')

  - render_region :bottom do |bottom|
    - bottom.buttons do
      #actions
        = pagination_for @event_venues
        %ul
          %li= link_to image('plus') + " " + t('event_venues_admin.index.new'), new_admin_event_venue_url
