- include_stylesheet "admin/event_calendar"

%h1 Remove location

%p 
  Are you sure you want to 
  %strong.warning 
    remove permanently
  the location
  = link_to @event_venue.title + '?', edit_admin_event_venue_url(@event_venue)

  - if @event_venue.events.any?
    %br
    It is associated with 
    = @event_venue.events.count
    = pluralize(@event_venue.events.count, 'event')
    that will remain in the calendar without a location:
  - else
    It has no events.

- if @event_venue.events.any?
  %ul
    - @event_venue.events.each do |event|
      %li
        = link_to event.title, edit_admin_event_url(event)
        %span.note
          = event.summarize_start
        
- form_for [:admin, @event_venue], :html => {:method => :delete} do
  %p.buttons
    %input.button{:type=>"submit", :value=>"Delete location"}
    or
    = link_to 'Cancel', admin_event_venues_url
