- include_stylesheet "admin/event_calendar"

%h1
  = t('event_venues_admin.remove.title')

%p 
  = t('event_venues_admin.remove.confirm')
  %strong.warning 
    = t('event_venues_admin.remove.warning')
  = t('event_venues_admin.remove.the_location')
  = link_to @event_venue.title + '?', edit_admin_event_venue_url(@event_venue)

  - if @event_venue.events.any?
    %br
    = t('event_venues_admin.remove.associated')
    = @event_venue.events.count
    = pluralize(@event_venue.events.count, t('event_venues_admin.remove.event'))
    = t('event_venues_admin.remove.remain')
  - else
    = t('event_venues_admin.remove.no_events')

- if @event_venue.events.any?
  %ul
    - @event_venue.events.each do |event|
      %li
        = link_to event.title, edit_admin_event_url(event)
        %span.note
          = event.summarize_start
        
- form_for [:admin, @event_venue], :html => {:method => :delete} do
  %p.buttons
    %input.button{:type=>"submit", :value=>t('event_venues_admin.remove.delete')}
    = t('defaults.or')
    = link_to t('defaults.cancel'), admin_event_venues_url
