- master_event = event.occurrence? ? event.master : event
- cssclass = "node"
- cssclass << " continuing" if event.continuing?
- cssclass << " past" if event.finished?

%tr{:class => cssclass}
  - render_region :tbody do |tbody|
    - tbody.date_cell do
      %td.datemark
        %a{:href => admin_event_url(master_event), :class => event.occurrence? ? 'occurrence' : 'master'}
          %span.month= (I18n.t 'date.abbr_month_names')[event.start_date.month]
          %span.day= event.mday_padded
    - tbody.title_cell do
      %td.event
        %h3.title
          = link_to event.title, edit_admin_event_url(master_event), :class => event.occurrence? ? 'occurrence' : 'master'
        %p.description
          = truncate(event.description, :length => 128)
    - tbody.calendar_cell do
      %td.calendar
        = link_to event.calendar.name, admin_calendar_url(event.calendar) if event.calendar
    - tbody.time_cell do
      %td.time
        = event.summarize_period
    - tbody.location_cell do
      %td.location
        - if event.event_venue
          = link_to event.event_venue.title, edit_admin_event_venue_url(event.event_venue)
    - tbody.modify_cell do
      %td.actions
        - if event.editable?
          - confirmation = "Are you sure you want to delete entirely the event '#{event.title}'"
          - confirmation << " and all its recurrences" if event.recurs?
          = link_to image('minus') + ' remove', remove_admin_event_url(event.master || event), :class => 'action'
