- master_event = event.occurrence? ? event.master : event

%tr{:class => ".node.level-1"}
  - render_region :tbody do |tbody|
    - tbody.date_cell do
      %td.datemark
        - if event.editable?
          %a{:href => admin_event_url(master_event), :class => event.occurrence? ? 'occurrence' : 'master'}
            %span.month= Date::ABBR_MONTHNAMES[event.start_date.month]
            %span.day= event.start_date.mday
        - else
          %span.month= Date::ABBR_MONTHNAMES[event.start_date.month]
          %span.day= event.start_date.mday
    - tbody.title_cell do
      %td.event
        %h3.title
          - if event.editable?
            = link_to event.title, edit_admin_event_url(master_event), :class => event.occurrence? ? 'occurrence' : 'master'
          - else
            = event.title
        %p.description
          = truncate(event.description, 128)
    - tbody.time_cell do
      %td.time
        = event.starts
      %td.time
        = event.finishes
    - tbody.location_cell do
      %td.location
        = event.location
    - tbody.recurrence_cell do
      %td.recurrence
        = event.recurrence
    - tbody.modify_cell do
      %td.remove
        - if event.editable?
          = link_to image('remove', :alt => 'Remove event'), remove_admin_event_url(event)
