- form_for [:admin, @event] do |f|
  = f.hidden_field :lock_version
  = render_region :form_top
  .form-area
    - render_region :form do |form|
      - form.edit_title do
        #title
          %p.title
            = f.label :title, "Event title"
            = f.text_field :title, :class => 'textbox'
          %p.keywords
            = f.label :keywords, "Keywords"
            = f.text_field :keywords, :class => 'textbox'

      - form.edit_date do
        #date
          %p.start_date
            = f.label :start_date, "Start date and time"
            = f.text_field :start_date, :class => 'date'
            = f.check_box :all_day
            = f.label :all_day, 'All-day event?', :class => 'minor'
          %p.end_date
            = f.label :end_date, "end date and time"
            = f.text_field :end_date, :class => 'date'
          %p#event_note.note
            If you specify an end date and later change the start date, the end will shift to preserve the event's duration.

      - form.edit_location do
        #location
          %p.location
            = f.label :location, "Location"
            = f.text_area :location, :class => 'textarea', :style => "width: 100%; height: 5em;"
          %p.postcode
            = f.label :postcode, "Postcode or gridref"
            = f.text_field :postcode, :class => 'place'
            %span.note
              This will not be displayed: it's used to place your event on the map and to let people know how far away it is.

      - form.edit_description do
        #description
          %p.description
            = f.label :description, "Description"
            = f.text_area :description, :class => 'textarea', :style => "width: 100%; height: 8em;"

      - form.edit_recurrence do
        #recurrence
          %p.recurrence
            = f.label :recurrence_period, "Repeats: "
            = f.select :recurrence_period, [['never', ''], ['every day', 'daily'], ['every week', 'weekly'], ['every month', 'monthly'], ['every year', 'yearly']]
            %span#recurrence_detail
              = f.select :recurrence_basis, [['forever', ''],['until', 'limit'], ['for', 'count']]
              %span#recurrence_limit
                = f.text_field :recurrence_limit, :class => 'recurrence limit'
              %span#recurrence_count
                = f.text_field :recurrence_count, :class => 'recurrence count'
                = f.label :recurrence_count, "times"
                (as well as the first)

  - render_region :form_bottom do |form_bottom|
    - form_bottom.edit_timestamp do
      = updated_stamp @event
    - form_bottom.edit_buttons do
      %p.buttons
        = save_model_button(@event)
        = save_model_and_continue_editing_button(@event)
        or
        = link_to 'Cancel', admin_events_url