- @page_title = t('event_admin.index.title')
- @page_title += t('defaults.at') + "#{@event_venue.title}" if @event_venue
- @page_title += ' - ' + t('event_admin.defaults.title') + ' - ' + default_page_title

- include_stylesheet "admin/event_calendar"

#events_table.outset      
  %table#events.index{:cellspacing=>"0", :border=>"0", :cellpadding=>"0"}
    %thead
      %tr
        - render_region :thead do |thead|
          - thead.date_header do
            %th.date
          - thead.title_header do
            %th.event 
              %strong 
                = t('event_admin.index.events')
                - if @event_venue
                  at 
                  = @event_venue.title
                  = link_to t('event_admin.index.show_all'), admin_events_url
          - thead.calendar_header do
            %th.calendar= t('event_admin.index.calendar')
          - thead.time_header do
            %th.date= t('event_admin.index.time')
          - thead.location_header do
            %th.location= t('event_admin.index.location')
          - thead.keywords_header do
            %th.keywords= t('event_admin.index.keywords')
          - thead.modify_header do
            %th.modify= t('event_admin.index.modify')
  
    %tbody
      - if @events.any?
        - @events.each do |event|
          = render :partial => 'event', :object => event
      - else
        %tr
          %td.note{:colspan => admin.event.index.tbody.length} 
            =t('event_admin.index.no_events')

  - render_region :bottom do |bottom|
    - bottom.buttons do
      #actions
        = pagination_for @events
        %ul
          %li= link_to image('plus') + " " + t('event_admin.index.new'), new_admin_event_url
