- include_stylesheet "admin/event_calendar"

#events_table.outset      
  %table#events.index{:cellspacing=>"0", :border=>"0", :cellpadding=>"0"}
    = render :partial => 'list_head'
  
    %tbody
      - if @events.any?
        - @events.each do |event|
          = render :partial => 'event', :object => event
      - else
        %tr
          %td.note{:colspan => admin.event.index.tbody.length} 
            No events coming up

  - render_region :bottom do |bottom|
    - bottom.buttons do
      #actions
        = pagination_for @events
        %ul
          %li= link_to image('plus') + " " + "new event", new_admin_event_url
          %li= link_to "calendar list", admin_calendars_url
          %li= link_to "venue list", admin_event_venues_url
