%h1
  = t('event_admin.remove.title')

%p 
  = t('event_admin.remove.message')
  %strong.warning 
    = t('event_admin.remove.warning')
  = t('event_admin.remove.event')
  = link_to(@event.title, edit_admin_event_url(@event)) + '?'
  
- form_for [:admin, @event], :html => {:method => :delete} do
  %p.buttons
    %input.button{:type=>"submit", :value=>t('event_admin.remove.submit')}/
    = t('defaults.or')
    = link_to t('defaults.cancel'), admin_events_url
