%h1 Delete event

%p 
  Are you sure you want to 
  %strong.warning 
    remove permanently
  the event 
  = link_to(@event.title, edit_admin_event_url(@event)) + '?'
  


- form_for [:admin, @event], :html => {:method => :delete} do
  %p.buttons
    %input.button{:type=>"submit", :value=>"Delete event"}/
    or
    = link_to 'Cancel', admin_events_url
    
#actions
  %ul
    %li= link_to "event list", admin_events_url
    %li= link_to "calendar list", admin_calendars_url
    %li= link_to "venue list", admin_event_venues_url
