#faceting
  - if events.any? || continuing_events.any?

    %p.list_summary
      Showing
      - if events.any?
        - paginated = true if events.respond_to? :total_entries
        - more_pages = true if paginated && events.total_pages >= 2
        - if paginated
          - if more_pages
            = events.offset + 1
            to
            = events.offset + events.length
            of
          = events.total_entries
          = pluralize(events.total_entries, "event") 
        - else
          = events.count
          = pluralize(events.count, "event") 
        
      - elsif continuing_events.any?
        = continuing_events.count
        continuing
        = pluralize(continuing_events.count, "event") 
        
      = render :partial => 'events/defacet'

      - if more_pages
        %br
        - if events.previous_page
          = link_to "&laquo; Previous", url_for(:page => events.previous_page)
          &middot;
        Page 
        = events.current_page
        of
        = events.total_pages
        - if events.next_page
          &middot;
          = link_to "Next &raquo;", url_for(:page => events.next_page)

      = render :partial => 'events/views'
