- if venue
  - if events = @venue_events[venue.id]
    .map_venue
      - if events.length == 1
        = render :partial => 'event', :object => events.first
      - else
        %h3
          Events at
          = link_to venue.title, venue.url
        %ul
          - remainder = events.slice!(4, 10000)
          - events.each do |event|
            %li
              %strong
                = link_to event.title, event.url
              on 
              = event.date
          - if remainder && remainder.any?
            %li
              and 
              = remainder.length
              more events...
          