- content_for :breadhead do
  - home = Page.find_by_parent_id(nil)
  = link_to home.breadcrumb, home.url
  \&gt;

- content_for :title do
  Events
  = list_description

- content_for :events do
  = render :partial => 'event', :collection => events

  - if events.length < 5 && continuing_events.any?
    - if events.any?
      %h2.listheader
        Continuing events
    = render :partial => 'event', :collection => continuing_events

  - if events.empty? && continuing_events.empty?
    - if period
      %h2
        Sorry: there are no events
        = render :partial => 'events/defacet'
    - else
      %h2
        Sorry: there are no events coming up
        
- content_for :continuing_events do
  - if continuing_events.any? && events.length >= 5
    #continuing
      %h3
        Continuing events
      %ul
        - continuing_events.each do |event|
          %li
            - if event.url
              = link_to event.title, event.url, :class => 'title'
            - else
              = event.title
            %span.detail
              runs until 
              = event.last_day
              - if event.event_venue
                at
                = link_to event.event_venue.title, event.event_venue.url
              - elsif event.location
                at
                = event.location

- content_for :calendar do
  #calendar
    = render :partial => "events/minicalendar", :locals => {:date => period ? period.start : Date.today}

- content_for :pagination do
  - if events.next_page || events.previous_page
    = will_paginate(events, :param_name => :p)

- content_for :faceting do
  = render :partial => 'faceting'

= render :partial => 'events/other_page_parts'