<%= render :partial => 'layouts/nav' %>

<h1>Calendars (linked to iCals)</h1>

<table class="subscriptionList">
  <tr>
	  <th width="250px">Name (# of events)</th>
	  <th width="200px">URL (category/slug)</th>
	  <th width="150px">Last Refresh</th>
	  <th></th>
  </tr>
<% for calendar in @calendars %>
  <tr>
    <td width="250px"><strong><%=h calendar.name %></strong> (<%=h calendar.ical.last_refresh_count unless calendar.ical.last_refresh_count.blank? %>)</td>
    <td width="200px"><%=h calendar.category.to_s.downcase %>/<%=h calendar.name.downcase unless calendar.name.blank?  %></td>
    <td width="150px"><%=h calendar.ical.last_refresh_date.strftime("%m/%d at %H:%M") unless calendar.ical.last_refresh_date.blank? %></td>
    <td style="text-align:right;">
    <%= link_to 'Refresh', refresh_ical_url(calendar.ical.id), :method => :put %> | <%= link_to 'Edit', edit_calendar_path(calendar) %> | <%= link_to 'Delete', calendar_path(calendar), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />
<div style="text-align:right;width:100%;"><%= link_to 'Add a calendar', new_calendar_url %></div>