- include_stylesheet 'admin/calendar'

%h1
  Calendar subscriptions

%p
  = link_to "Refresh All", refresh_all_icals_path, :method => :put
  |
  = link_to 'Add a calendar', new_calendar_url

%table.index
  %thead
    %tr
      %th Name
      %th URL (category/slug)
      %th Last Refresh
      %th Refresh automatically?
      %th 
  %tbody
    - @calendars.each do |calendar|
      %tr{:class => "node level-1"}
        %td.subscription-title
          = link_to calendar.name, calendar_url(calendar)
          = "(#{calendar.ical.last_refresh_count || '0'} events)"
        %td.url
          =h calendar.category.to_s.downcase 
          \/
          =h calendar.slug.downcase
        %td.refreshed
          =h calendar.ical.last_refresh_date.strftime("%m/%d at %H:%M") unless calendar.ical.last_refresh_date.blank?
        %td.autorefresh
          = calendar.ical.refresh_automatically? ? "after #{distance_of_time_in_words(calendar.ical.refresh_interval_or_default.to_i.seconds)}" : "no"
        %td
          = link_to 'Refresh', refresh_ical_url(calendar.ical.id), :method => :put 
          | 
          = link_to 'Edit', edit_calendar_path(calendar) 
          |
          = link_to 'Delete', calendar_path(calendar), :confirm => 'Are you sure?', :method => :delete

.footnote
  %p
    = link_to "Refresh All", refresh_all_icals_path, :method => :put
    |
    = link_to 'Add a calendar', new_calendar_url
  